<h1>Courses</h1>

<table border="1">
    <thead>
        <tr>
            <th><a href="?sort=code">Code</a></th>
            <th><a href="?sort=name">Name</a></th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.code }}</td>
            <td>{{ course.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'add_course' %}">Add New Course</a> <!-- Optional: Link to add a new course -->
