<h1>Enrollments</h1>
<table border="1">
    <thead>
        <tr>
            <th>Student</th>
            <th>Course</th>
            <th>Date Enrolled</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for enrollment in enrollments %}
            <tr>
                <td>{{ enrollment.student.user.username }}</td>
                <td>{{ enrollment.course.name }}</td>
                <td>{{ enrollment.date_enrolled }}</td>
                <td>{{ enrollment.get_status_display }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
